
/*Global styles*/
body{
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.15rem;
    background-color: #efefef;
}

.title{
    text-align: center;
    text-decoration: underline;
}

h2{
    text-align: center;
}


/*Header*/
#head{
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

#old{
    max-width: 100%;
    max-height: 250px;
    padding: 5px 2px 5px 2px;
}

/*History section*/
#history{
    text-align: center;
}

/*Main*/

/*Equipment section*/
#main{
    margin: 5px;
}

#equipment .ecard{
    border: 1mm solid black;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.ecard img{
    max-width: 410px;
}

.card-container{
    text-align: center;
}

/*How to play section*/
.howto div{
    border-bottom: 1mm solid black;
    margin-bottom: 10px;
}

.set{
    display: block;
    margin: auto;
    height: 150px;
    max-width: 425px;
}

/*Events section*/
table{
    border: 0.5mm solid black;
}


/*Contact section*/
li {
    display: inline;
    margin: 10px;
    list-style-type: none;
}

#socials{
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
